@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@layer components {
  .sub-heading {
    @apply font-medium text-base text-stone-500 dark:text-stone-400;
  }
  
  .content-bg {
    @apply bg-black/5 dark:bg-white/5;
  }

  .content-bg-hover {
    @apply hover:bg-black/10 dark:hover:bg-white/10 transition;
  }

  .content-card {
    @apply bg-black/5 dark:bg-white/5
           rounded-2xl
           p-4
           border border-black/10 dark:border-white/10
           shadow-sm;
  }
}
